
/*PORTIFOLIO*/

.project-box{
    margin: 30px;
}
#filter-btn-box {
    margin: 50px;
    text-align: center;
}

/** Página Serviços */

h1{
    text-align: center;
    margin: 50px 0 !important;
}
.accordion-item, accordion-header{
    background-color: transparent; !important;
    border: none; !important;
    padding: o; !important;
    margin-bottom: 20px;
}
.accordion-item {
    box-shadow: 0 2px 20px 0rgba(110,130,208, .18);
}
.accordion-button{
    width: 100%;
    height: 60px;
    color: #000; !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
}
.accordion-body{
    background: #e8eeff;
}
.col-md-5{
    width: 430px;
    margin-top: 15px;
}